@nilmod {
	/* There is no id field. The filename defines the id of the mod. */
	name: "Mc Test Injector";
	description: "";
	authors: "theepicblock";
	version: "${version}";
}

entrypoints {
	/* premain is the only entrypoint defined by NilLoader itself. */
	premain: "nl.theepicblock.mctestinjector.TestPremain";
}
